{% extends 'site_base.html' %}

{% block content %}

<div class="container">

    <div class="panel panel-default modal-dialog">

        <div class="panel-body text-center">
            <h1>크레딧 충전</h1><br/>


            <div class="center-block" style="width:300px;">
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <h4 style="text-align: center;">
                    <br /><input type="submit" value="결제하기" />
                    </h4>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}